%h1 Listing referrals

%table
  %thead
    %tr
      %th Email
      %th Status
      %th Resend count
      %th Token
      %th User
      %th
      %th
      %th

  %tbody
    - @referrals.each do |referral|
      %tr
        %td= referral.email
        %td= referral.status
        %td= referral.resend_count
        %td= referral.token
        %td= referral.user_id
        %td= link_to 'Show', referral
        %td= link_to 'Edit', edit_referral_path(referral)
        %td= link_to 'Destroy', referral, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Referral', new_referral_path
